/****************************
*****************************
  BUTTONS
*****************************  
****************************/

button {
  padding: 16px 16px 18px 16px;
  font-size: 20px;
  color: $white;
  cursor: pointer;
  border: 0px;
  &:focus { outline: 0; }
  &.btn-green {
    @include btn-color($btn-green);
    border-bottom: 6px solid darken($btn-green, 10%);
  }
  &.btn-blue {
    @include btn-color($btn-blue);
    border-bottom: 6px solid darken($btn-blue, 10%);
  }
  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    @include btn-color($gray);
    border-bottom: 6px solid darken($gray, 10%);
  }
}