/****************************
*****************************
  RESULTS-CONTAINER
*****************************  
****************************/

.results-container {
  .rolls-container {
    div {
      padding: 20px;
      &:first-child {
        text-align: center;
        span {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 18px;
        }
      }
      &:last-child {
        border: 1px solid black;
        border-radius: 5px;
        @include flex-horizontal;
        min-height: 72px;
        p {
          font-size: 20px;
          line-height: 30px;
          margin-right: 12px;
          &:last-child {
            margin-right: 0px;
          }
          &.winner {
            font-size: 30px;
            font-weight: bold;
            color: $success-red;
          }
        }
      }
    }
  }
  .winner-container {
    text-align: center;
    margin-top: 30px;
    &.hideWinner {
      display: none;
    }
    &.showWinner {
      display: block;
    }
    p {
      font-weight: bold;
      color: $success-red;
      &:first-child {
        text-transform: uppercase;
        font-size: 50px;
      }
      &:last-child {
        font-size: 80px;
      }
    }
  }

  @media only screen and (min-width: $lg-mobile) {
    .rolls-container {
      @include flex-horizontal;
      div {
        &:first-child { flex: 1; }
        &:last-child { flex: 3; }
      }
    }
  }
}