/****************************
*****************************
  GLOBAL VARIABLES
*****************************  
****************************/

// Screen-sizes:
$mobile: 320px;
$lg-mobile: 550px;
$desktop: 920px;

// Font:
$global-font: "Helvetica Neue", Helvetica, sans-serif;

// Colors:
$gray: #A0A0A0;
$light-gray: #F9F9F7;

$btn-green: #2ECC71;
$btn-blue: #1E90FF;
$success-red: #FF5050;
$white: #FFF;
$black: #000;
