@import './styles/reset.css';
@import './styles/variables.scss';
@import './styles/mixins.scss';
@import './styles/buttons.scss';

body {
  min-width: $mobile;
  * {
    font-family: $global-font;
  }
  h1 {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }

  #dice-game {
    padding: 20px 20px 40px 20px;
  }

  @media only screen and (min-width: $lg-mobile) {
    h1 {
      font-size: 30px;
    }
  }
  
  @media only screen and (min-width: $desktop) {
    h1 {
      font-size: 30px;
    }
  }
}

@import './styles/game-container.scss';
@import './styles/results.scss';
